.container {
  margin: 20px;

  h1,
  h3 {
    font-weight: 800;
    padding    : 10px 0;
    margin     : 0;
  }

  p.descricao {
    font-size: 13px;
  }

  .message-error {
    background-color: rgb(236, 181, 181);
    color           : rgb(165, 20, 20);
    font-size       : 14px;
    font-weight     : 600;
    padding         : 20px;
    border-radius   : 5px;
    text-align      : center;
  }

  .message-warning {
    background-color: rgb(247, 177, 108);
    color           : #000000;
    font-size       : 14px;
    font-weight     : normal;
    padding         : 20px;
    border-radius   : 5px;
    text-align      : center;
  }

  mat-list {
    background-color: #EAEAEA;

    mat-list-item {
      border-bottom: 3px solid #CCCCCC;
    }
  }

  .formas {
    width           : 100%;
    background-color: #EAEAEA;

    .content-img {
      background-color: #FFFFFF;
      display         : flex;
      flex-direction  : column;
      justify-content : center;
      align-items     : center;
      align-content   : center;
      width           : 100%;
      border-bottom   : 3px solid #CCCCCC;

      p {
        text-align : center;
        font-weight: bold;
      }
    }
  }
}
