<div class="container">

  <h1>Lista de Pokemons</h1>

  <!-- formulário -->
  <form [formGroup]="form" (ngSubmit)="onSearch()">
    <mat-form-field appearance="fill">
      <mat-icon matPrefix>search</mat-icon>
      <input formControlName="Search" class="search" matInput
        placeholder="Digite o nome do Pokemon e pressione ENTER" />
      <span matSuffix class="error" *ngIf="f.Search.dirty && f.Search.hasError('minlength')">Digite ao menos 4
        caracteres</span>
    </mat-form-field>
  </form>
  <!--/ formulário -->

  <!-- infinite scroll / virtual scroll -->
  <cdk-virtual-scroll-viewport itemSize="50" infinite-scroll [infiniteScrollDistance]="infiniteScrollDistance"
    [infiniteScrollThrottle]="infiniteScrollThrottle" [scrollWindow]="false" (scrolled)="onScroll()" class="results">

    <table cellspan="0" colspan="0">
      <tr *cdkVirtualFor="let item of pokemonList; let i = index" (click)="onDetail(item.name)">
        <td class="col-preview">
          <button mat-mini-fab (click)="onDetail(item.name)">
            <mat-icon mat-icon>catching_pokemon</mat-icon>
          </button>
        </td>
        <td class="col-data">
          <p>{{ item.name }}</p>
        </td>
      </tr>
    </table>

  </cdk-virtual-scroll-viewport>
  <!--// infinite scroll / virtual scroll -->

</div>
