.container {
  margin: 20px;

  h1 {
    font-weight: 800;
  }

  form {
    width : 100%;
    margin: 0;

    mat-form-field {
      width  : 100%;
      margin : 0 !important;
      padding: 0 !important;

      mat-icon {
        font-size: 28px;
        color    : #666666;
      }

      .search {
        padding: 0 0 10px 10px;
      }

      span.error {
        color    : red;
        font-size: 12px;
      }

    }

  }

  .results {
    height  : 100vh;
    overflow: scroll;

    table {
      width : 100%;
      margin: 0;

      tr {
        height: 50px;

        &:hover {
          background-color: #EAEAEA;
          cursor: pointer;
        }

        td.col-data {
          border-bottom: 1px solid #CCCCCC;

          p {
            padding       : 12px 0 0 20px;
            font-size     : 16px;
            font-weight   : 600;
            text-transform: capitalize;
          }
        }

        td.col-preview {
          width        : 60px;
          text-align   : right;
          padding      : 0 20px 0 0;
          border-bottom: 1px solid #CCCCCC;
        }
      }
    }
  }

}
