<div class="container">

  <!-- formulário -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Digite o nome do pokemon para buscar" />
    </mat-form-field>
  </form>
  <!--/ formulário -->

  <!-- infinite scroll / virtual scroll -->

    <cdk-virtual-scroll-viewport itemSize="50" infinite-scroll
                                 [infiniteScrollDistance]="infiniteScrollDistance"
                                 [infiniteScrollThrottle]="infiniteScrollThrottle"
                                 [scrollWindow]="false" (scrolled)="onScroll()" class="results">

      <table cellspan="0" colspan="0">
        <tr *cdkVirtualFor="let item of pokemonList; let i = index">
          <td class="col-data">
            <p>{{ item.name }}</p>
          </td>
          <td class="col-preview">
            <button mat-mini-fab (click)="onDetail()">
              <mat-icon mat-icon>preview</mat-icon>
            </button>
          </td>
        </tr>
      </table>

    </cdk-virtual-scroll-viewport>

  <!--// infinite scroll / virtual scroll -->

</div>
